.img_left {
    float: left;
    width: 250px;
    margin-right: 15px;
}

.img_right {
    float: right;
    width: 250px;
    margin-left: 15px;
}

.p_gray_bold {
    color: #b1b1b1;
    font-weight: bold; 
}

.p_italic {
    font-style: italic;
    color: red;
    text-decoration: underline;
}

.p_last_word span {
    color: rgb(3, 3, 147);
}